body{
	margin:0;
}

#interface{
	background-color: #e2e2e2;
}
#info_bar{
	background-color: #DCFFDB;
	height:18px;
}
.button{
	display: inline-block;
	text-align: center;
	
	border-width: thick;
    border-color: #d41c5d;
    border-style: groove;
}
.secondary_button{
	border-color: green;
}
.disabled{
	display:none;
}

.user_button{
	height: 50px;
}


.unit_info, .legend{
	display:inline-block;
}
.legend{
	float:right;
}

.flag{
	width: 20px;
	height: 10px;
}
.army_name{
	display:block;
}
.resource_name{
	margin-left: 4px;
}
